body {
	font-family: var( --font-family-system-sans );
}

header {
	background-color: var( --background-color-notice-subtle );
	padding: 1em;
}

header h1 {
	margin: 0;
}

a {
	color: var( --color-progressive );
	text-decoration: none;
}

a:hover {
	color: var( --color-progressive--hover );
	text-decoration: underline;
}

form {
	width: 50em;
	margin: auto;
}

form .date {
	font-size: larger;
}

table {
	text-align: center;
	margin: auto;
}

table thead th {
	padding: 0.2em 2em;
	background-color: var( --background-color-progressive-subtle );
	vertical-align: top;
}

table thead th .tzs {
	font-weight: normal;
}

table td.weekday {
	text-align: right;
}

table td.time {
	text-align: left;
}

footer {
	font-size: smaller;
	text-align: right;
	margin-right: 1em;
}

footer ul {
	list-style-type: none;
}

footer li {
	display: inline-block;
	margin-left: 2em;
}
